<!--
<md-toolbar layout="row" layout-align="center end" class="md-tall">
    <div flex flex-sm="100" flex-gt-sm="95" flex-gt-md="80" layout="column" class="md-toolbar-tools">
        <h2>The Heading</h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="toggleContent(!displayContent)">
            <md-icon md-svg-src="/img/vector/laravel-logo.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
-->

<md-content style="height:500px;">

    <section class="z-depth-" waypoint-trigger down="wp-target.above-the-fold" up="wp-target.above-the-fold" offset="100%">
        <md-subheader sticky-state="active">
            <div class="md-toolbar-tools">First Header</div>
        </md-subheader>
        <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                    <h3>{{message.what}}</h3>
                    <h4>{{message.who}}</h4>
                    <p>
                        {{message.notes}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>

    <section waypoint-trigger down="wp-target.shrink" up="wp-target.above-the-fold" offset="100%">
        <md-subheader sticky-state="active">
            <div class="md-toolbar-tools">Second Header</div>
        </md-subheader>
        <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                    <h3>{{message.what}}</h3>
                    <h4>{{message.who}}</h4>
                    <p>
                        {{message.notes}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>

    <section waypoint-trigger down="wp-target.rotate" up="wp-target.shrink" offset="100%">
        <md-subheader>
            <div class="md-warn md-toolbar-tools">Third Header</div>
        </md-subheader>
        <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                    <h3>{{message.what}}</h3>
                    <h4>{{message.who}}</h4>
                    <p>
                        {{message.notes}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>

    <section waypoint-trigger down="wp-target.subshow" up="wp-target.shrink" offset="100%">
        <md-subheader>
            <div class="md-success md-toolbar-tools">Fourth Header</div>
        </md-subheader>
        <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                    <h3>{{message.what}}</h3>
                    <h4>{{message.who}}</h4>
                    <p>
                        {{message.notes}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>

    <section>
        <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                <div class="md-list-item-text">
                    <h3>{{message.what}}</h3>
                    <h4>{{message.who}}</h4>
                    <p>
                        {{message.notes}}
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </section>

    <section waypoint-trigger down="wp-target.subfullscreen" up="wp-target.subshow" offset="100%">

        <md-subheader>
            <div class="md-toolbar-tools">Fifth Header</div>
        </md-subheader>

        <jqcloud words='[
            {text: "Laravel", weight: 13},
            {text: "CSS", weight: 10.5},
            {text: "AngularJS", weight: 9.4},
            {text: "PHP", weight: 8},
            {text: "Javascript", weight: 6.2},
            {text: "Podcast", weight: 5},
            {text: "Ruby on Rails", weight: 5}
        ]' height="350" steps="7"></jqcloud>

    </section>

</md-content>

