<div md-header-picture
     style="background-image:url('https://static.pexels.com/photos/28452/pexels-photo-28452.jpg')"></div>
<md-toolbar md-header-scroll>
    <div class="md-toolbar-tools">
        <md-button class="md-tools" aria-label="Go Back"><i class="ion-android-arrow-back"></i></md-button>
        <h2 md-header-title flex>Jeremy Sarda</h2>
        <md-button class="md-tools" aria-label="Edit Contact"><i class="ion-android-create"></i></md-button>
        <md-button class="md-tools" aria-label="More"><i class="ion-android-more-vertical"></i></md-button>
    </div>
</md-toolbar>
<div class="main-fab">
    <md-button aria-label="Float Action Button" class="md-fab md-accent"><i class="ion-android-star"></i>
    </md-button>
</div>

<!--
<div layout="row" layout-align="space-between">

    <div class="wp-target-perspective">

        <div class="wp-target-front">

            <div class="circle-container">
                <div class="outer-outer-ring"></div>
                <div class="circle">
                    <div class="front">
                        <img class="front-logo" src="/img/vector/JS-Polygon-Logo-001.svg"
                             alt="Jeremy Sarda Logo Front"/>
                    </div>
                    <div class="back">
                        <img class="back-logo" src="/img/vector/JS-Polygon-Logo-001.svg"
                             alt="Jeremy Sarda Logo Front"/>
                    </div>
                </div>
            </div>

            <nav>
                <a href="#">Home</a>
                <a>Recent Projects</a>
                <a>Experiments</a>
                <a href="#">Contacts</a>
            </nav>

        </div>

        <div class="wp-target-bottom">
            <nav>
                <a>Project 01</a>
                <a>Project 02</a>
                <a>Project 03</a>
                <a>Project 04</a>
                <a>Project 05</a>
                <a>Project 06</a>
                <a>Project 07</a>
                <a class="back-to-the-top">BACK TO THE TOP</a>
            </nav>
        </div>

    </div>

</div>
-->