<div layout-align="space-between">

    <div layout="column" class="wp-target-perspective">

        <div layout="row" flex="50" class="wp-target-front">

            <nav flex="33">
                <a href="#">Home</a>
                <a>Recent Projects</a>
                <a>Experiments</a>
                <a href="#">Contacts</a>
            </nav>

            <div flex-grow flex="33" class="circle-container">
                <div class="outer-outer-ring"></div>
                <div class="circle">
                    <div class="front">
                        <img class="front-logo" src="/img/vector/JS-Polygon-Logo-001.svg"
                             alt="Jeremy Sarda Logo Front"/>
                    </div>
                    <div class="back">
                        <img class="back-logo" src="/img/vector/JS-Polygon-Logo-001.svg"
                             alt="Jeremy Sarda Logo Front"/>
                    </div>
                </div>
            </div>

            <nav flex="33">
                <a href="#">Home</a>
                <a>Recent Projects</a>
                <a>Experiments</a>
                <a href="#">Contacts</a>
            </nav>

        </div>

        <div flex="50" class="wp-target-bottom">
            <nav>
                <a>Project 01</a>
                <a>Project 02</a>
                <a>Project 03</a>
                <a>Project 04</a>
                <a>Project 05</a>
                <a>Project 06</a>
                <a>Project 07</a>
                <a class="back-to-the-top">BACK TO THE TOP</a>
            </nav>
        </div>

    </div>

</div>