

<split-menu class="half-screen" flex="50" layout-fill ng-cloak></split-menu>

<split-menu class="half-screen" flex="50" layout-fill ng-cloak></split-menu>

<!--
<section waypoint-trigger down="wp-target.above-the-fold" up="wp-target.above-the-fold" offset="100%">

</section>

<section waypoint-trigger down="wp-target.shrink" up="wp-target.above-the-fold" offset="100%">

</section>

<section waypoint-trigger down="wp-target.rotate" up="wp-target.shrink" offset="100%">

</section>

<section waypoint-trigger down="wp-target.subshow" up="wp-target.shrink" offset="100%">

</section>

<section waypoint-trigger down="wp-target.subfullscreen" up="wp-target.subshow" offset="100%">
    <jqcloud words='[
        {text: "Laravel", weight: 13},
        {text: "CSS", weight: 10.5},
        {text: "AngularJS", weight: 9.4},
        {text: "PHP", weight: 8},
        {text: "Javascript", weight: 6.2},
        {text: "Podcast", weight: 5},
        {text: "Ruby on Rails", weight: 5}
    ]' height="350" steps="7"></jqcloud>
</section>
-->