/**
 * Project.scss
 */
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

//$bs-use-mixin-only: true;
//@import /PATH/TO/basis/src/scss/basis;

@import "utilities";

$brand: #00A4C6;
$black: #535362;
$grey: #888888;
$navy: #21455B;
$border: #E9F0F3;
$background: #F6F9FA;

/**
 * Header Navigation Color Scheme
 */
$nav-link-color: #c02227;
$nav-link-color-hover: lighten($nav-link-color, 20%);
$nav-link-border-color: $nav-link-color;
$nav-link-border-color-hover: $nav-link-color-hover;

@import "transitions", "circle-logo", "header", "footer";
